
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Arquivos</title>
    <th:block th:replace="~{fragments/navbar :: navbar(logged=${logged})}"></th:block>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Lista de arquivos salvos</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">titulo</th>
            <th scope="col">filename</th>
            <th scope="col">atualizado</th>
            <th scope="col">criado</th>
            <th scope="col">opções</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="arquivo : ${listaArquivos}">
            <td th:text="${arquivo.id}">Otto</td>
            <th scope="row" th:text="${arquivo.titulo}">1</th>
            <td th:text="${arquivo.filename}">Mark</td>
            <td th:text="${df.format(arquivo.updatedAt)}">Mark</td>
            <td th:text="${df.format(arquivo.createdAt)}">Mark</td>
            <td class="btn-group" role="group" >
                <a th:href="@{/visualizar-pdf(id=${arquivo.id})}" class="btn btn-danger">Visualizar</a>
<!--                <form th:action="@{/visualizar-pdf?id=${arquivo.id}}" method="get">-->
<!--                    <input type="hidden" name="id" th:value="${arquivo.id}" />-->
<!--                    <button type="submit" class="btn btn-danger">Visualizar</button>-->
<!--                </form>-->
                <form th:action="@{/download-pdf}" method="get">
                    <input type="hidden" name="id" th:value="${arquivo.id}" />
                    <button type="submit" class="btn btn-warning">Download</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>