<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>Cadastro de Usuário</title>-->
<!--  <th:block th:replace="~{fragments/navbar :: navbar(logged=${logged})}"></th:block>-->
<!--  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />-->
<!--  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->
<!--  <h2>Cadastro de Arquivos</h2>-->
<!--  <form th:action="@{/arquivos/new}" method="post" enctype="multipart/form-data">-->

<!--    <div class="form-group">-->
<!--      <label for="titulo">Titulo:</label>-->
<!--      <input type="text" class="form-control" id="titulo" name="titulo">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="files">Escolha uma imagem para upload:</label>-->
<!--      <input type="file" id="files" name="files" class="form-control"  multiple="multiple"/>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <button type="submit" class="btn btn-primary">Cadastrar</button>-->
<!--    </div>-->
<!--  </form>-->
<!--  <div class="alert alert-success" role="alert" th:if="${saved}">-->
<!--    <h1>-->
<!--      Arquivos salvos com sucesso!!!-->
<!--    </h1>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Usuário</title>
    <th:block th:replace="~{fragments/navbar :: navbar(logged=${logged})}"></th:block>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

<div class="container">
  <h2>Cadastro de Arquivos</h2>

  <div id="alertSuccess" class="alert alert-success d-none" role="alert">
    <h1>Arquivos salvos com sucesso!!!</h1>
  </div>

  <div id="formContainer">
    <div class="form-group">
      <label for="titulo">Titulo:</label>
      <input type="text" class="form-control" id="titulo" name="titulo">
    </div>
    <div class="form-group">
      <label for="files">Escolha uma imagem para upload:</label>
      <input type="file" id="files" name="files" class="form-control"  multiple="multiple"/>
    </div>
    <div class="form-group">
      <button id="submitButton" class="btn btn-primary">Cadastrar</button>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#submitButton').click(function(e){
      e.preventDefault();

      var titulo = $('#titulo').val();
      var files = $('#files').prop('files');

      var formData = new FormData();
      formData.append('titulo', titulo);
      for(var i=0; i<files.length; i++){
        formData.append('files', files[i]);
      }

      $.ajax({
        url: '/arquivos/new',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response){
          $('#formContainer').hide();
          $('#alertSuccess').removeClass('d-none');
        }
      });
    });
  });
</script>

</body>
</html>
