<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <th:block th:replace="~{fragments/navbar :: navbar(logged=${logged})}"></th:block>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<div class="container">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="senha">Password:</label>
            <input type="password" class="form-control" id="senha" name="senha">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div th:if="${validationErrors}" class="alert alert-danger">
            <ul>
                <li th:each="error : ${validationErrors}" th:text="${error.defaultMessage}"></li>
            </ul>
        </div>
        <div th:if="${loginError}" class="alert alert-danger">
            <div th:text="${loginError}">

            </div>
        </div>
    </form>
</div>
</body>
</html>